body{
    height: auto;
    width: auto;
    background: #faf9f9 no-repeat top center !important ;
    line-height: 1.3;

}
aside{
    left:5%;
    margin-left: 87%;
    background-color: transparent;
    color:#da5b4a;
    padding: 2px;
    width:auto;
    height: 100%;
    position: fixed;
    z-index: 1;

}
#footer-main{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
}
#footer-main .footer-contact{
    display: block;
    width: 100%;
    max-width: 270px;
    margin: 0px auto 10px;
    color: #8892b0;

}

#footer-main .footer-contact ul{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#footer-main .credits{
    line-height:1;
    font-size:1rem;
    color: #a8b2d1;
}
header#home{
position: relative;
/* height: 800px; */
min-height: 500px;
width: 95%;
/* background: #F4F4F4 no-repeat top center; */
background-size: cover !important;
-webkit-background-size: cover !important;
/* text-align: center; */
overflow: hidden;
}
div.intro .words{
    padding: 3rem;
    font-size: 6rem;
    color:#006a91;
    opacity: 1;
}

div.intro .words span{
    font-weight: 900;
}
span.designation{
    font-size: 15px;
}
nav#nav-wrap{
    font: 1.1rem 'opensans-bold', sans-serif;
    width: 100%;
    /* text-transform:lowercase; */
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    text-transform: capitalize;
}


ul li a.resume {
    border: 1px solid black;
    border-radius: 16px;
    margin-left: 350px;
    margin-right: 35px;
    color: #010e3b;
    text-decoration: none ;
    height: 100%;
    padding:10px;

    display: inline-block;
    line-height: 32px;
    letter-spacing: 2.5px;
    transition: color 1s ease-in-out;
}

ul li a.resume:hover{
    /* background-color: rgba(100,255,218,0.1);; */
    background-color: #006a9128;;
}
ul li{

    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}

ul li a.tab{
    transition: color 1s ease-in-out;
    padding:10px;
    line-height: 32px;
    color: #010e3b;
    text-decoration: none;
    display: inline-block;
    background: transparent;
}

ul#navbar li a.current,ul#navbar li a:hover {
/* color: #FC4445; */
color:rgb(255, 145, 0) ;
font-weight: 600;
/* text-transform: uppercase; */


}

div#home,div.scroll-down{
    z-index: 100;
    font-size: 40px;
    position: relative;
    left:0%;
    top: 20%;
    margin: 7% auto 0 ;
    letter-spacing: 2.5px;
    font: 25px 'opensans-bold', sans-serif;
    /* text-align: right; */
    text-align: center;
    font-weight: 1000;
    width: 80%;
}
div.scroll-down{
    top: 30%;
    /* left: -50%; */

}
.animated {

    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
 }


@-webkit-keyframes fadeIn {
    100% {opacity: 3;}
    50%{opacity: 1;}
    0% {opacity: 0;}
 }
@keyframes fadeIn {
    100% {opacity: 3;}
    50%{opacity: 1;}
    0% {opacity: 0;}
}


@-webkit-keyframes bounce {
    0% ,20%, 50%, 80%,100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}

}
 @keyframes bounce {
    0% ,20%, 50%, 80%,100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}

}


@keyframes fadeUp{

    100% {transform: translateY(0px);}
    0% {transform: translateY(-30px); opacity: 0}

}
@-webkit-keyframes fadeUp {
    100% {transform: translateY(0);}
    0% {transform: translateY(-30px);}
}


 @-webkit-keyframes fadeSlow{
    100% {opacity: 2;}
    50% {opacity: 1.5;}
    25% {opacity: 1;}
    0% {opacity: 0;}

}
@keyframes fadeSlow {

    100% {opacity: 2;}
    50% {opacity: 1.5;}
    25% {opacity: 1;}
    0% {opacity: 0;}
}


@-webkit-keyframes type{
    0%{
        width:0%;
    }
    99.9% {
       border-right: .15em solid orange;
     }
    100%{
        opacity: 1;
    }
}
@keyframes type {
     0%{
         width:0%;
     }
     99.9% {
        border-right: .15em solid orange;
      }
     100%{
         opacity: 1;
     }

}


@-webkit-keyframes blink{

  50%{
     border-color: transparent;
 }
}
@keyframes blink{
 50%{
     border-color: transparent;
 }
}


@-webkit-keyframes moveUp{
    100%{
        transform: translateY(-10px);
    }
}
@keyframes moveUp {
    100%{
        transform: translateY(-10px);
    }


}

@-webkit-keyframes moveBar{
    0%{width: 0;}
}

@keyframes moveBar{

    0%{width: 0;}

}
.moveBar{

    animation-name: moveBar;
    animation-timing-function: 'ease-in-out';
    animation-iteration-count: 1;
    animation-direction: "alternate";

}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-iteration-count: 10;
}
.fadeUp{
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
    animation-timing-function: linear;
    transform:  matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;


}
.moveUp{
    -webkit-animation-name: moveUp;
    animation-name: moveUp;
    animation-iteration-count: ease;
    transform:  matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}
.fadeSlow{
    -webkit-animation-name: fadeSlow;
    animation-name: fadeSlow;
    animation-timing-function: easeout;
}
.typing {
    border-right: .15em solid orange;
    font-family: "Courier";
    /* font-size: 14px; */
    white-space: nowrap;
    overflow: hidden;
    width: 25%;
    margin: 15% auto 0;
    -webkit-animation: type 2s steps(40, end);
    animation: type 1.5s steps(10, end),blink .5s step-end infinite alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

section#contact-main{
    z-index: 0;
    /* color: #fff; */
    font-size: 40px;
    position: relative;
    left: 0;
    top: 40%;
    margin: 0 auto;
    letter-spacing: 2.5px;
    font: 25px 'opensans-bold', sans-serif;
}
#contact-main h5{
    font-weight: 700;
}
section#contact-main .email-link {
    color: rgb(94, 165, 94);
    background-color: transparent;
    border: 1px solid green;
    border-radius: 2%;
    padding: 1.25rem 1.75rem;
    font-size: 1.2rem;
    font-family: monospace;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    margin-top: 50px;
}
section#contact-main .email-link:hover{
    background-color: rgb(94, 165, 94);;
    color: white;
}

.fa{
    color: rgb(238, 192, 43) ;;
}


.fa-angle-double-down:hover{
    color:#006a91 ;
}

div .scroll-down{
    margin-top:400px;

}
.fa-angle-double-down{
    font-size: 40px;

}

.opaque {
    background-color:#bededb;
}

#about{

    position: relative;
    width: 95%;
    overflow: hidden;
    /* text-align:center; */
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;

}
#about h5{
    color: rgb(255, 145, 0) ;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .4rem;

}

#about-me-info h1, #about-me-info p,.contact-intro p{
    color: #080808;
    text-align: left;
    opacity: 0.7;


}

.about-me-info img{
    border-radius: 50%;
    object-position: 200% 100%;
}

#portfolio,#contact,#skills,#resume,#contact-main{

    position: relative;
    height: 100%;
    min-height: 500px;
    width: auto;
    background-color: transparent;
    overflow: hidden;
    /* text-align:center; */
    padding-top: 3rem;
    /* padding-bottom: 15rem; */

}
#portfolio{
    width: 94%;
    text-align:center;
}
#skills,#contact-main{
    opacity: 0;

}
ul.skills-set{
    color:#000000;
    padding: 0px;
    margin: 0px 0px 0px;
    list-style: none;

}
.skills-set-main{

    padding: 0px;
    margin-left:0%;
    /* overflow: flex; */
    list-style: none;
}


 ul.skills-set li::before {
    content: "*";
    position: absolute;
    left: 0.5px;
    top:10px;
    color: rgb(5, 151, 235) ;;
    font-size: 20px;
    line-height: 12px;
}
ul.skills-set #bar{

    position: absolute;
    /* top:10px; */
    left:20%;
    height:20%;
    /* width: 100%; */

    width:10%;
    border-radius: 0%;

}
ul.skills-set .bar-hover{
    animation-name: moveside;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}

ul.skills-set li{
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    /* display: grid;
    grid-template-columns: repeat(2 , minmax(140px, 200px)); */
    font-size: 20px;
}
li.sk {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 100%));
}

ul.skills-set li .rect{
    /* border: 1px solid black ; */
    border-radius: 25%;
    height: 100%;
    width: 100%;
    top:0px;
    /* border-style: dashed; */
    background-color: transparent;
}
ul.skills-set li #exp{
    position: absolute;
    top:-10px;
    left: 85%;
    height: 100%;
    border-radius: 0%;
    font-size: 10px;
    opacity: 0.5;
}
ul.skills-set li #exp p.lead {
    font-size: 1rem;
}
#contact {
    margin-left: 0.8rem;
    padding-top: 10rem;
    padding-bottom: 7.2rem;
}
.contact-intro {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3.6rem;
    position: relative;
    color:#272727;


}

.contact-row,.contact-col{
    width: 94%;
    max-width: 1140px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 15rem;
    margin-left: 0.5rem;
    margin-right: auto;
}

.contact-row::after{
    content:"";
    display: block;
    width:1px;
    height:50rem;
    margin: 0px auto;
    background-color: rgb(236, 147, 74);

}
/* .contact-row::before{
    content:"";
    display: block;
    width:1px;
    height:90px;
    margin: 0px auto;
    background-color: rgb(236, 147, 74);

} */
.contact-info .icon a, .footer-contact  a{
    padding: 10px;
}


.contact-info .icon svg,.footer-contact .icon svg{
    width:1.7rem;
    height:2rem;
    transition: fill 1s ease;

}

.contact-info svg :hover, .footer-contact svg :hover{
    fill:rgb(238, 192, 43) ;
    stroke: transparent;  
}





#portfolio{
    opacity: 0;
    background: transparent;
}

#portfolio h5,#resume h5,#contact-main h5{
    color: rgb(255, 145, 0) ;
    padding: 30px;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .4rem;
}




.container-fluid{
    display:flex;
    column-gap: 40px;
    justify-content: space-between;
}
#portfolio .col-lg-4{

    margin-bottom: 1.5rem;
}


.project-inner:hover{
  background-color: #006a91;


}

.project-inner {
    margin-bottom: 20px;
    box-shadow: 0 10px 30px -15px #444443;
    /* display: flex; */
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    padding: 2rem 2rem;
    border-radius: 4px;
    width:100%;
    /* background-color:transparent; */
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);;
    background-color: #010e3b;

}

.project-title{
    text-align: center;
    position: relative;
    overflow:scroll;
    text-transform: uppercase ;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
 .project-title a::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.project-title a{
    font-size: 1rem;
    float: center;
    color: #f1da76;
    text-decoration: none;
}
.project-description {
    min-height: 100px;
    font-size: 17px;
}
.project-description p {
    color: #f6fbf5;
   
}
.project-tech-list{

      
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}
.folder{
    margin-left:60%;
    font-size: 150%;

}
.folder a{
    padding:0.5rem
}

.project-tech-list li{
    margin-right: 15px;
    color: #bededb;
}
.contact-info{
    margin:5px;
    font-size: 1.5rem;
    text-align: center;
}
.contact-info .col{
    
    padding-bottom: 30px;
}

.row:before, .row:after {
    content: "";
    display: table;
}
embed{
    background-color: rgb(15, 15, 15);
}

@media only screen and (max-width: 600px){
 #about{
    padding: 0;
    text-align: justify;
 }
 ul li a.resume {
  
     margin-left: 0px;

 }
 nav#nav-wrap ul{
    justify-content: center !important;
}
 header#home,#about,#portfolio,#resume{
     width: 100%;
 }
 div#home,div.scroll-down{
     left:0%;
     margin: 40% auto 0 ;
 }

 #about h5{
    font-size: 1.3rem;

 }
 #about-me-info p,.contact-intro p{
    font-family: "lora-regular", serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: justify;
 }
 .about-me-info img{
    width:150px;
    float: center;
    margin-left: 30%;
}

ul.skills-set{
    color:rgb(0, 0, 0);
    display: grid;

    padding: 0px;
    margin: 30px 0px 0px;
    overflow: hidden;
    list-style: none;

}
ul.skills-set li::before{

    top:0px;
    line-height: 11px;
}
ul.skills-set li{
    margin-bottom: 0px;
    padding-left: 20px;
    font-size: 1rem;
}

.project-title a{
    font-size: 1rem;

}
div.intro .words{
    padding: 1.5rem;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 800;
    line-height: 1.1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
}


@media only screen and (max-width: 768px){
    .project-title a{
        font-size: 1rem;
    }

    nav#nav-wrap ul{
        justify-content: center !important;
    }
    header#home,#about,#portfolio,#resume{
        width: 100%;
    }
    div#home,div.scroll-down{
        left:0%;
    }
    aside{
        /* opacity: 0; */
        /* margin-left: 85%; */
        /* display: hide; */
    }
    div.intro .words{
        padding: 2rem;
        font-size: 1.5rem;


    }

    .typing{
        border-right: .1em solid orange;
        width: 60%;
        margin: 15% auto 0 !important;
    }
    div.scroll-down{
        top: 50%;
        margin: 40% auto 0;
        /* left: -50%; */

    }
    #nav-skills{
        font-size: 10px;

    }
    ul.skills-set li{
        margin-bottom: 0px;
        padding-left: 20px;
        font-size: .6rem;
    }
    ul.skills-set li::before{

        top:0px;
        line-height: 1px;
    }


    ul.skills-set #bar{
        left:25%;
        height: 20% !important;
    }
    ul.skills-set li #exp{
        left:90%;
    }
    ul.skills-set li #exp p.lead{
        font-size: 0.7rem;
    }

}


@media only screen and (max-width: 1024px){
    .project-title a{
        font-size: 1rem;
    }
    nav#nav-wrap ul{
        justify-content: center !important;
    }


    div#home,div.scroll-down{
        left:0%;
    }
    div.scroll-down{
        top: 65%;
        margin: 69% auto 0 ;
        margin-bottom: 2rem;
       

    }
    .typing{
        margin: 25% auto 0;
    }

}
